$banner-height: 250px;

.banner {
  .layer {
    width: 100%;
    height: $banner-height;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
  }

  img {
    width: 100%;
    height: $banner-height;
  }
}
