@import "normalize";

@import "skeleton";

@import "font-awesome";

@import "top_nav";

@import "banner";

@import "menu";

@import "slick";

@import "slick-theme";

.slider {
  div img {
    width: 100%;
    height: 400px;
  }
}

.cakes {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  .title {
    display: flex;

    p {
      flex: 1;
      border-top: 4px solid #F5F5F5;
      transform: translateY(50%);
    }

    h5 {
      text-transform: uppercase;
      font-weight: bold;
      color: #FFA500;
      margin-right: 40px;
      margin-left: 40px;
    }
  }

  .products {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;

    .product {
      flex: 1;
      margin-right: 20px;
      box-shadow: 2px 4px 6px #888888;
      border: 0.1px solid #F9F9F9;
      text-align: center;

      img {
        width: 100%;
      }

      h5 {
        margin-top: 5px;
        color: #FFA500;
        font-weight: bold;
        font-size: 2em;
      }

      p {
        color: #4A7BA6;
      }

      button {
        border: none;
        background-color: #F5F5ED;
        transition: all 0.2s;

        i {
          color: #FFA500;
          font-size: 1.5em;
          margin-right: 5px;
        }

        &:hover {
          background-color: #FFA500;
          color: #fff;

          i {
            color: #fff;
          }
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;

    div {
      margin-right: 5px;
      margin-left: 5px;
      background-color: #F5F5ED;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;

      &.active {
        background-color: #FFA500;
        color: #fff;
      }
    }
  }
}
